[Desktop Entry]
Type=Application
Exec=/opt/moss/local_app/dist/linux-unpacked/moss
Name=Microbial Outbreak Surveillance System (MOSS)
GenericName=Microbial Outbreak Surveillance System (MOSS)
Icon=/opt/moss/local_app/images/report-icon.png
Terminal=false