# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/local_app/node_modules
/local_app/.pnp
/local_app/.pnp.js
/ccphylo
/kma
# testing
/local_app/coverage

# production
/local_app/build

# misc
/local_app/.DS_Store
/local_app/.env.local
/local_app/.env.development.local
/local_app/.env.test.local
/local_app/.env.production.local

/local_app/npm-debug.log*
/local_app/yarn-debug.log*
/local_app/yarn-error.log*
